
Data_Collection/score_college_exam_data/score_college_exam_data.csv
Data_Collection/score_college_exam_data/2019.csv
Data_Collection/score_college_exam_data/2020.csv
Data_Collection/score_college_exam_data/2021.csv
Data_Collection/score_college_exam_data/2022.csv
